<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="container">
    <div class="nav top">
        <ul class="nav">
            <li>
                Data Master
                <ul>
                    <li>Data Kriteria</li>
                    <li>Data Fuzzy</li>
                    <li>Data Warga</li>
                </ul>
            </li>
            <li>
                SPK
                <ul>
                    <li>SPK Period</li>
                    <li>Laporan</li>
                </ul>
            </li>

            <li>User</li>
        </ul>
        <ul class="nav account">
            <li>
                Name
                <ul>
                    <li>Profile</li>
                    <li>Logout</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>