<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>

<div class="container">
    <fieldset class="fieldset">
        <legend>Form Data Warga</legend>
        <form>
            <div class="form field">
                <label>ID</label>:
                <input type="text" name="sct_id" readonly />
            </div>
            <div class="form field">
                <label>Nama</label>:
                <input type="password" name="sct_name" />
            </div>
            <div class="form field">
                <label>Alamat</label>:
                <textarea name="sct_address" cols="40" rows="4"></textarea>
            </div>
            <div class="form button">
                <label></label>&nbsp;
                <input type="submit" name="submit" value="Login" />
            </div>
        </form>
    </fieldset>

</div>

</body>
</html>