<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="container login">
    <fieldset class="fieldset login">
        <legend>Login Form</legend>
        <form>
            <div class="form field">
                <label>Username</label>:
                <input type="text" name="uac_username" />
            </div>
            <div class="form field">
                <label>Password</label>:
                <input type="password" name="uac_password" />
            </div>
            <div class="form button">
                <label></label>&nbsp;
                <input type="submit" name="submit" value="Login" />
            </div>
        </form>
    </fieldset>

</div>
</body>
</html>