<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="container">
    <div class="abs-block navigation clearfix">
        <div class="block logo">DSS System</div>
        <ul class="block nav">
            <li>
                <span>Master Data</span>
                <ul>
                    <li><a>Data Kriteria</a></li>
                    <li><a>Fuzzy Setup</a>
                        <ul>
                            <li><a>Range Type</a></li>
                            <li><a>Criteria - Fuzzy SAW</a></li>
                        </ul>
                    </li>
                    <li><a>Manage Society</a></li>
                </ul>
            </li>
            <li>
                <span>DSS Portal</span>
                <ul>
                    <li><a>Setup New Selection</a></li>
                    <li><a>Participant</a>
                        <ul>
                            <li><a>Criteria Fields</a></li>
                            <li><a>Field Map</a></li>
                            <li><a>Society as Participant</a></li>
                        </ul>
                    </li>
                    <li><a>DSS List</a></li>
                    <li><a>Report</a></li>
                </ul>
            </li>
            <li><span>User</span>
                <ul>
                    <li><a>Role</a></li>
                    <li><a>User</a></li>
                    <li><a>Privileges (User-Role)</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav float-right">
            <li><span>Bambang Adrian S</span>
                <ul class="right">
                    <li><a>Profile</a></li>
                    <li><a>Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="container main">
    <div class="container">
        <div class="block block-5">
            <div class="panel">
                <h1 class="panel title">Test page</h1>
                <div class="panel description">Page description container.</div>
                <div class="panel header">
                    <div class="panel message">
                        <div class="error">
                            This is error message
                        </div>
                        <div class="success">
                            This is success message
                        </div>
                        <div class="info">
                            This is info message
                        </div>
                    </div>

                </div>
                <div class="panel content">
                    <div class="panel control">
                        <div class="buttons">
                            <input type="button" value="Add" />
                            <input type="button" value="Add" />
                        </div>
                    </div>
                    <table>
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Stock</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Milk</td>
                            <td>20</td>
                            <td>90000</td>
                            <td>active</td>
                            <td>
                                edit | delete
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Milk</td>
                            <td>20</td>
                            <td>90000</td>
                            <td>active</td>
                            <td>
                                edit | delete
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Milk</td>
                            <td>20</td>
                            <td>90000</td>
                            <td>active</td>
                            <td>
                                edit | delete
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Milk</td>
                            <td>20</td>
                            <td>90000</td>
                            <td>active</td>
                            <td>
                                edit | delete
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Milk</td>
                            <td>20</td>
                            <td>90000</td>
                            <td>active</td>
                            <td>
                                edit | delete
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Milk</td>
                            <td>20</td>
                            <td>90000</td>
                            <td>active</td>
                            <td>
                                <a>edit | delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel footer">
                    This is panel footer container.
                </div>
            </div>
        </div>
        <div class="block block-7">
            <div class="panel">
                <h1 class="panel title">Test page</h1>
                <div class="panel description">Page description container.</div>
                <div class="panel header">
                    <div class="panel message">
                        <div class="error">
                            This is error message
                        </div>
                        <div class="success">
                            This is success message
                        </div>
                    </div>
                    <div class="panel control">
                        This is panel control container.
                        <div class="buttons">
                            <input type="button" value="Add" />
                            <input type="button" value="Add" />
                        </div>
                    </div>
                </div>
                <div class="panel content">
                    <table>
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Stock</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Milk</td>
                            <td>20</td>
                            <td>90000</td>
                            <td>active</td>
                            <td>
                                edit | delete
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Milk</td>
                            <td>20</td>
                            <td>90000</td>
                            <td>active</td>
                            <td>
                                edit | delete
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Milk</td>
                            <td>20</td>
                            <td>90000</td>
                            <td>active</td>
                            <td>
                                edit | delete
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Milk</td>
                            <td>20</td>
                            <td>90000</td>
                            <td>active</td>
                            <td>
                                edit | delete
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Milk</td>
                            <td>20</td>
                            <td>90000</td>
                            <td>active</td>
                            <td>
                                edit | delete
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Milk</td>
                            <td>20</td>
                            <td>90000</td>
                            <td>active</td>
                            <td>
                                <a>edit | delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel footer">
                    This is panel footer container.
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="block block-10">
            <div class="panel">
                <h1 class="panel title">Test page</h1>
                <div class="panel description">Page description container.</div>
                <div class="panel header">
                    <div class="panel message">
                        <div class="error">
                            This is error message
                        </div>
                        <div class="success">
                            This is success message
                        </div>
                    </div>
                    <div class="panel control">
                        This is panel control container.
                        <div class="buttons">
                            <input type="button" value="Add" />
                            <input type="button" value="Add" />
                        </div>
                    </div>
                </div>
                <div class="panel content">
                    <table>
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Stock</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Milk</td>
                            <td>20</td>
                            <td>90000</td>
                            <td>active</td>
                            <td>
                                edit | delete
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Milk</td>
                            <td>20</td>
                            <td>90000</td>
                            <td>active</td>
                            <td>
                                edit | delete
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Milk</td>
                            <td>20</td>
                            <td>90000</td>
                            <td>active</td>
                            <td>
                                edit | delete
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Milk</td>
                            <td>20</td>
                            <td>90000</td>
                            <td>active</td>
                            <td>
                                edit | delete
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Milk</td>
                            <td>20</td>
                            <td>90000</td>
                            <td>active</td>
                            <td>
                                edit | delete
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Milk</td>
                            <td>20</td>
                            <td>90000</td>
                            <td>active</td>
                            <td>
                                <a>edit | delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel footer">
                    This is panel footer container.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-block well control bottom full-width margin-top-10">
    Test control bottom
</div>
</body>
</html>